.product-wrapper {
  width: 110%;
  max-width: 360px;
  margin: 0 auto;
  border: 2px solid #bad546;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  padding: 0px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.product-title {
  font-size: 24px;
  margin-bottom: 25px;
  color: #333;
  text-align: center;
}

.product-title span {
  color: #bad546;
  font-weight: bold;
}
.hh {
  text-decoration: underline;
  margin-top: 10px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
  padding: 0;
  list-style: none;
}

.product-card {
  padding: 8px;
  font-size: 12px;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(186, 213, 70, 0.5);
}

.product-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.product-name {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #bad546;
}
.btnn {
  padding: 12px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #bad546;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  margin-top: 10px;
  width: 90%;
  margin-left: 20px;
  height: 70%;
}
.input {
  width: 270px;
  margin-left: 5px;
  height: 50psx;
}
.heart {
  font-size: 15px;
}
