<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kh.mapper.RewardMapper">

    <!-- 이미 보상을 받은 적이 있는지 확인 -->
    <select id="existsUserReward" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM USER_ACHV_REWARD
        WHERE USER_ID = #{userId}
        AND REWARD_ID = #{rewardId}
    </select>


    <!-- 보상 지급 기록 삽입 -->
    <insert id="insertUserReward" parameterType="map">
        INSERT INTO USER_ACHV_REWARD (USER_ID, REWARD_ID, RECEIVED_DATE)
        VALUES (#{userId, jdbcType=VARCHAR}, #{rewardId, jdbcType=VARCHAR}, SYSDATE)
    </insert>

    <!-- 업적 ID로 보상 조회 -->
    <select id="findRewardByAchvId" parameterType="string" resultType="kr.co.kh.model.vo.RewardVO">
        SELECT
        REWARD_ID        AS rewardId,
        ACHV_ID          AS achvId,
        REWARD_TYPE      AS rewardType,
        REWARD_VALUE     AS rewardValue,
        BADGE_NAME       AS badgeName,
        BADGE_IMAGE_URL  AS badgeImageUrl
        FROM ACHV_REWARD
        WHERE ACHV_ID = #{achvId, jdbcType=VARCHAR}
    </select>


</mapper>
