<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kh.mapper.UserAuthorityMapper">

    <insert id="save" parameterType="UserAuthorityVO">
        INSERT INTO USER_AUTHORITY (USER_ID, ROLE_ID)
        VALUES (#{userId}, #{roleId})
    </insert>

    <select id="findByUserId" parameterType="String" resultType="UserAuthorityVO">
        SELECT USER_ID as userId, ROLE_ID as roleId
        FROM USER_AUTHORITY 
        WHERE USER_ID = #{userId}
    </select>

    <delete id="deleteByUserId" parameterType="String">
        DELETE FROM USER_AUTHORITY 
        WHERE USER_ID = #{userId}
    </delete>

</mapper>